
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {{ page_name }} {% endblock %} </title>

    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

  </head>

  <body style="background-color:#00BFFF">
    {% block content %}{% endblock %}

  <h3>Submit S Word</h3>
  <form action="" method="post">
      {% csrf_token %}
      <div class="field">
        {{ form.submission.errors }}
        {{ form.submission }}
      </div>
      <p><input type="submit" value="Submit S Word"/></p>
  </form>
  <ul style="margin-left: 0.5in;">
    {% for item in submissions %}
    <li> {{ item }} </li>
    {% endfor %}
  </ul>

  </body>
</html>
