
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} </title>

    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  <body style="background-color:#00BFFF">
    {% block content %}{% endblock %}
    <h3>{{grow}}</h3>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script>
    $(document).ready(function() {
       $('h3').mouseenter(function() {
           $(this).animate({
               height: '+=50px'
           });
       });
       $('h3').mouseleave(function() {
           $(this).animate({
               height: '-=50px'
           });
       });
    });
    </script>

 <h3>{{grow}}</h3>

  </body>
</html>
